@model WebApiLibrary.Models.ServiceStudents
@{
	ViewBag.Title = "Details";
}
<center><h2> Student Detail</h2></center>
<style>
	a, a:hover {
		color: white;
	}
	.details {
		padding-left: 400px;
	}
	h2 {
		padding-bottom: 50px;
	}
	dd a, dd a:hover {
		color: dodgerblue;
	}
	dd, dt {
		font-size: 20px;
		padding-bottom: 11px;
	}
	dl dd {
		padding-left: 20px;
	}
</style>

<div class="details">
	<dl class="dl-horizontal">
		<dt>
			<lable>Name</lable>
		</dt>
		<dd id="name">
		</dd>
		<dt>
			<label>Branch</label>
		</dt>
		<dd id="branch">
		</dd>
		<dt>
			<label>Gender</label>
		</dt>
		<dd id="gender">
		</dd>
		<dt>
			<label>Phone Number</label>
		</dt>
		<dd id="phoneNumber">
		</dd>
		<dt>
			<label>Address</label>
		</dt>
		<dd id="address">
		</dd>
		<dt>
			<label>City</label>
		</dt>
		<dd id="city">
		</dd>
		<dt>
			<label>Email</label>
		</dt>
		<dd id="email">
		</dd>
		<dt>
			<label>Password</label>
		</dt>
		<dd id="password">
		</dd>
	</dl>
</div>

<table class="details">
	<tr>
		<td style="padding-left: 500px;padding-right: 15px;">
			<button class="btn btn-primary">@Html.ActionLink("Back to List", "Index", new { @style = "color:#FFFFFF;" })</button>
		</td>
		<td>
			<button class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { @style = "color:#FFFFFF;" })</button>
		</td>
	</tr>
</table>

<script>
	$(document).ready(function () {
		$.get('https://localhost:44369/api/ServiceStudents/GetServiceStudents/' +@Model.serviceStudentId, function (response) {
			console.log(response);
			$('#name').text(response.serviceStudentName);
			$('#branch').text(response.serviceStudentBranch);
			if (response.serviceGender == 0) {
				$('#gender').text("Female");
			}
			else if (response.serviceGender == 1) {
				$('#gender').text("Male");
			}
			else {
				$('#gender').text("Genderless");
			}			
			$('#phoneNumber').text(response.servicePhoneNumber);
			$('#address').text(response.serviceAddress);
			$('#city').text(response.serviceCity);
			$('#email').text(response.serviceEmail);
			$('#password').text(response.servicePassword);
		})
	});
</script>