@model WebApiLibrary.Models.ServiceBooks
@{
	ViewBag.Title = "Edit";
}
<center><h2>Edit Book</h2></center>
<style>
	a, a:hover {
		color: white;
	}
</style>

<div class="modal fade" id="newAuthorModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Create</h2>
			</div>
			<div class="modal-body">
				<p>New Author name</p>
				<input id="newAuthorTextBox" type="text" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="btnOk" style="margin-right:5px" onclick="addName()">Add</button>
				<a href="#" id="btnCancel" class="btn btn-primary " onclick="cancelName()"> Cancel </a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="newBranchModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Create</h2>
			</div>
			<div class="modal-body">
				<p>New Branch name</p>
				<input id="newBranchTextBox" type="text" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="btnOk" style="margin-right:5px" onclick="addBranch()">Add</button>
				<a href="#" id="btnCancel" class="btn btn-primary " onclick="cancelBranch()"> Cancel </a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="newPublicationModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Create</h2>
			</div>
			<div class="modal-body">
				<p>New Publication name</p>
				<input id="newPublicationTextBox" type="text" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="btnOk" style="margin-right:5px" onclick="addPublication()">Add</button>
				<a href="#" id="btnCancel" class="btn btn-primary " onclick="cancelPublication()"> Cancel </a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<form name="createBookForm" id="editBook" class="form-horizontal">
		<div class="form-group">
			<label class="text-info">Book Name</label>
			<input type="text" id="bookName" class="form-control" />
		</div>
		<div class="form-group">
			<label class="text-info">Author Name</label>
			<table class="table-borderless">
				<tr>
					<td style="width : 280px">
						<select id="authorName" class="form-control"></select>
					</td>
					<td>
						<button type="button" class="btn btn-outline-primary  wrapper" onclick="NewAuthor()">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"></path>
								<path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"></path>
							</svg>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="form-group">
			<label class="text-info">Serial Number</label>
			<input type="text" id="serialNum" class="form-control" />
		</div>
		<div class="form-group">
			<label class="text-info">Branch</label>
			<table class="table-borderless">
				<tr>
					<td style="width : 280px">
						<select id="branch" class="form-control"></select>
					</td>
					<td>
						<button type="button" class="btn btn-outline-primary  wrapper" onclick=" NewBranch()">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"></path>
								<path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"></path>
							</svg>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="form-group">
			<label class="text-info">Publication</label>
			<table class="table-borderless">
				<tr>
					<td style="width : 280px">
						<select name="publications" id="publication" class="form-control"></select>
					</td>
					<td>
						<button type="button" class="btn btn-outline-primary  wrapper" onclick="NewPublication()">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"></path>
								<path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"></path>
							</svg>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="form-group">
			<label for="isAvailable" class="text-info"> Is Available </label>
			<input type="checkbox" id="isAvailable" name="isAvailable">
		</div>
		<button type="submit" class="btn btn-default">Save</button>
		<br /><br />
	</form>
</div>

<div>
	<button class="btn btn-primary">@Html.ActionLink("Back to List", "Index", new { @style = "color:#FFFFFF;" })</button>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
    <script>
		$(document).ready(function () {
			$.get('https://localhost:44369/api/ServiceBooks/GetServiceBooks/' +@Model.serviceBookId, function (response) {
				console.log(response);
				$('#bookName').val(response.serviceBookName);
				$('#serialNum').val(response.serviceSerialNumber);
				$('#authorName :selected').text(response.serviceAuthorName);
				$('#branch :selected').text(response.serviceBranch);
				$('#publication :selected').text(response.servicePublications);
				//$('#branch').val(response.serviceBranch);
				//$('#publication').val(response.servicePublications);
				if (response.serviceIsAvailable == true)
				{
					$('#isAvailable').prop('checked',true);
				}

			});

			var authorName = $('#authorName');
			authorName.append($("<option></option>").val('').html('Please Select Author'));
			$.ajax({
				url: "https://localhost:44369/api/ServiceAuthors/GetAuthor",
				type: 'GET',
				datatype: 'JSON',
				success: function (data) {
					$.each(data, function (index, author) {
						authorName.append($("<option></option>").val(author.serviceAuthorName).html(author.serviceAuthorName));
					});
				},
				error: function () {
					alert('dropdown error');
				}
			});

			var branch = $('#branch');
			branch.append($("<option></option>").val('').html('Please Select Branch'));
			$.ajax({
				url: "https://localhost:44369/api/ServiceBooks/GetBranch",
				type: 'GET',
				datatype: 'JSON',
				success: function (data) {
					$.each(data, function (index, branchs) {
						branch.append($("<option></option>").val(branchs.serviceBranch).html(branchs.serviceBranch));
					});
				},
				error: function () {
					alert('dropdown error');
				}
			});
			var publication = $('#publication');
			publication.append($("<option></option>").val('').html('Please Select Publication'));
			$.ajax({
				url: "https://localhost:44369/api/ServiceBooks/GetPublication",
				type: 'GET',
				datatype: 'JSON',
				success: function (data) {
					$.each(data, function (index, publications) {
						publication.append($("<option></option>").val(publications.servicePublications).html(publications.servicePublications));
					});
				},
				error: function () {
					alert('dropdown error');
				}
			});

			$("#editBook").submit(function (event) {
				event.preventDefault();
				var apiurl = "https://localhost:44369/api/ServiceBooks/PutServiceBooks/"+@Model.serviceBookId;
				if (document.getElementById('isAvailable').checked) {
					var availability = true;
				}
				else {
					var availability = false;
				}
				var data = {
					"serviceBookId":@Model.serviceBookId,
					"serviceBookName": $("#bookName").val().trim(),
					"serviceSerialNumber": $("#serialNum").val().trim(),
					"serviceAuthorName": $("#authorName").val().trim(),
					"serviceBranch": $("#branch").val().trim(),
					"servicePublications": $("#publication").val().trim(),
					"serviceIsAvailable": availability
				}
				console.log(data);
				$.ajax({
					url: apiurl,
					type: 'PUT',
					dataType: 'json',
					data: data,
					success: function (d) {
						alert("Saved Successfully");
						document.getElementById("editBook").reset();
					},
					error: function () {
						alert("Error please try again");
					}
				});
			});
		});

		function NewAuthor() {
			$("#newAuthorModal").modal('show');
		}
		function cancelName() {
			$("#newAuthorModal").modal('hide');
		}
		function addName() {
			var newAuthorName = $("#newAuthorTextBox").val();
			$.ajax({
				type: "POST",
				url: 'https://localhost:44369/api/ServiceAuthors/PostServiceAuthor',
				data: { "serviceAuthorName": newAuthorName },
				success: function (result) {
					if (result) {
						alert(newAuthorName + " added successfully ! ");
						$("#newAuthorModal").modal('hide');
						location.reload();
					} else {
						alert("something went wrong");
					}
				}
			});
		}

		function NewBranch() {
			$("#newBranchModal").modal('show');
		}
		function cancelBranch() {
			$("#newBranchModal").modal('hide');
		}
		function addBranch() {
			var newBranchName = $("#newBranchTextBox").val();
			$.ajax({
				type: "POST",
				url: 'https://localhost:44369/api/ServiceBooks/PostServiceBranches',
				data: { "serviceBranch": newBranchName },
				success: function (result) {
					if (result) {
						alert(newBranchName + " added successfully ! ");
						$("#newBranchModal").modal('hide');
						location.reload();
					} else {
						alert("something went wrong");
						location.reload();
					}
				}
			});
		}

		function NewPublication() {
			$("#newPublicationModal").modal('show');
		}
		function cancelPublication() {
			$("#newPublicationModal").modal('hide');
		}
		function addPublication() {
			var newPublicationName = $("#newPublicationTextBox").val();
			$.ajax({
				type: "POST",
				url: 'https://localhost:44369/api/ServiceBooks/PostServicePublications',
				data: { "servicePublications": newPublicationName },
				success: function (result) {
					if (result) {
						alert(newPublicationName + " added successfully ! ");
						$("#newAuthorModal").modal('hide');
						location.reload();
					} else {
						alert("something went wrong");
					}
				}
			});
		}
</script>

}
